#hello-page{
        padding: 1rem;
}
.title, .introduction, .button {
	margin-bottom: 1rem;
}

.is-hidden {
	display: none;
}

.img-cordova {
	display: block;
	margin: 0 auto;
}

.cordova-indicator {
	text-align: center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
